<div>
  <br>
  <h4>Top 20 Recommended Recipes</h4>
  <br>
  <table class="table-striped table-hover table table-responsive">
    <thead class="thead-light">
      <tr>
        <th>Recipe</th>
        <th>Author</th>
        <th>Cuisine</th>
        <th>Prep Time (Min)</th>
        <th>Cook Time (Min)</th>
        <th>Level</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipie of recipies | slice:0:20" [routerLink]="['/recipies', recipie.id]" style="cursor: pointer;">
        <td>{{ recipie.name }}</td>
        <td>userId{{ recipie.userId }}</td>
        <td>{{ recipie.cuisine }}</td>
        <td>{{ recipie.prepTimeMinutes }}</td>
        <td>{{ recipie.cookTimeMinutes }}</td>
        <td>{{ recipie.difficulty }}</td>
        <td>{{ recipie.rating }}</td>
      </tr>
    </tbody>
  </table>
</div>
