<div>
  <ul>
    <br>
    <li *ngFor="let recipie of recipies">
      <a [routerLink]="['/recipies', recipie._id]">
        <div class="card" style="width: 60rem;">
          <div class="card-body">
            <h5 class="card-title">Recipe Name: {{ recipie.name }}</h5>
            <p class="card-text">Cook Time: {{ recipie.cookTimeMinutes }} minutes</p>
            <p class="card-text">Difficulty Level: {{ recipie.difficulty }}</p>
            <p class="card-text">Rating: {{ recipie.rating }}</p>
          </div>
        </div>
      </a>
      <hr>
    </li>
  </ul>
</div>
