/* Custom styles for the navbar */
.navbar-custom {
  background-color: #007bff; /* Blue background */
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  background-color: transparent; /* Remove background */
  color: white; /* White text */
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav .nav-link:hover {
  color: #f8f9fa; /* Light white on hover */
}

.navbar-toggler:hover {
  background-color: lightgrey !important;
}

.navbar-custom .navbar-toggler-icon {
  background-color: white; /* White icon for the hamburger menu */
}

.navbar-toggler {
  border: none; /* Optional: remove border */
}
  