<div class="container" style="margin-top:70px;">   <div class="row">      <div class="col-sm-12"> <div>
  <br>
  <br>
  <h4>All Recipes</h4>
  <h6>Use the searchbar to search on any particular fields.</h6>
  <br>
  <div class="d-flex justify-content-end mb-3">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search database..."
      [(ngModel)]="searchTerm"
    />
  </div>
  <table class="table-striped table-hover table table-responsive">
    <thead class="thead-light">
      <tr>
        <th>Recipe</th>
        <th>Author</th>
        <th>Cuisine</th>
        <th>Meal Type</th>
        <th>Prep (Min)</th>
        <th>Cook (Min)</th>
        <th>Level</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of webService.recipe_list | filter:searchTerm">
        <td>{{ recipe.name }}</td>
        <td>userId{{ recipe.userId }}</td>
        <td>{{ recipe.cuisine }}</td>
        <td>{{ recipe.mealType }}</td>
        <td>{{ recipe.prepTimeMinutes }}</td>
        <td>{{ recipe.cookTimeMinutes }}</td>
        <td>{{ recipe.difficulty }}</td>
        <td>{{ recipe.rating }}</td>
      </tr>
    </tbody>
  </table>
</div>
