<div>
  <br>
  <h4>Top 10 Recommended Recipes</h4>
  <br>
  <table class="table-striped table-hover table table-responsive">
    <thead class="thead-light">
      <tr>
        <th>Recipe</th>
        <th>Author</th>
        <th>Cuisine</th>
        <th>Prep Time (Min)</th>
        <th>Cook Time (Min)</th>
        <th>Level</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes | slice:0:10" style="cursor: pointer;">
        <td>{{ recipe.name }}</td>
        <td>userId{{ recipe.userId }}</td>
        <td>{{ recipe.cuisine }}</td>
        <td>{{ recipe.prepTimeMinutes }}</td>
        <td>{{ recipe.cookTimeMinutes }}</td>
        <td>{{ recipe.difficulty }}</td>

      </tr>
    </tbody>
  </table>
</div>
