<div>
  <br>
  <br>
  <h4>All Recipes</h4>
  <h6>Use the searchbar to search on any particular fields.</h6>
  <br>
  <div class="d-flex justify-content-end mb-3">
    <input
      type="text"
      class="form-control w-25"
      placeholder="Search database..."
      [(ngModel)]="searchTerm"
    />
  </div>
  <table class="table-striped table-hover table table-responsive">
    <thead class="thead-light">
      <tr>
        <th>Recipe</th>
        <th>Author</th>
        <th>Cuisine</th>
        <th>Meal Type</th>
        <th>Prep (Min)</th>
        <th>Cook (Min)</th>
        <th>Level</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let business of webService.business_list | filter:searchTerm">
        <td>{{ business.name }}</td>
        <td>userId{{ business.userId }}</td>
        <td>{{ business.cuisine }}</td>
        <td>{{ business.mealType }}</td>
        <td>{{ business.prepTimeMinutes }}</td>
        <td>{{ business.cookTimeMinutes }}</td>
        <td>{{ business.difficulty }}</td>
        <td>{{ business.rating }}</td>
      </tr>
    </tbody>
  </table>
</div>
